/* *{
  font-family: Arial, Helvetica, sans-serif;
} */

body{
  margin: 0;
  background-color: #265073;
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

#font{
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

a{
  text-decoration: none;
} 

button{
  background-color: #088395;
  font-family: "Rubik Mono One", monospace;
}

@font-face {
  font-family:myFirstfont;
  src: url(/font/Wavepool.ttf);
}