*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0;
  background-color: #265073;
}

a{
  text-decoration: none;
} 

button{
  background-color: #088395;
}

@font-face {
  font-family:myFirstfont;
  src: url(/font/Wavepool.ttf);
}