@font-face {
    font-family:myFirstfont;
    src: url(/font/Wavepool.ttf);
}

#header {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #008E9B;
    text-align: right;
    z-index: 999;
    margin: auto;
}

#navlink {
    padding: 5px;
    font-size: 18px;
    color: black;
    padding: 10px;
    cursor: pointer;
}

#bluepay {

    font-family: myFirstfont;
    display: flex;
    text-align: left;
    position: fixed;
    left: 50px;
    right: 0;
    color: black;
}